body {
  font-family: Helvetica;
  font-size: 11px;
  line-height: 1.5;
}

h1 {
  padding: 2rem 0;
  line-height: 1;
}

small {
  font-weight: normal;
  font-size: 0.8rem;
}

header p {
  margin-top: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
}

ol.choices {
  list-style-type: upper-alpha;
}

li {
  padding: 0.25rem 0;
}

li.correct {
  color: #cc0000;
}

code {
  font-family: monospace;
  background-color: #f3f3f3;
  padding: 3px;
}

.hljs {
  color: #000;
}

header {
  padding: 10rem;
  text-align: center;
}

section header {
  padding: 0.5rem 0;
  text-align: left;
}

.px-1 {
  padding: 1rem 0;
}

.mb-15 {
  margin-bottom: 15rem;
}

.output {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  border: 2px solid #333;
  font-size: 2em;
}

.no-page-break {
  page-break-after: avoid;
}

.page-break {
  page-break-after: always;
}